:root {
  --default-font-family: "Poppins", sans-serif;
  --Playfair: "Playfair Display", serif;
  --primary-color: rgb(44, 43, 43);
  --primary-bg-color: #efefef;
  --secondary-color: #585660;
}

body {
  font-family: var(--default-font-family);
}

h2 {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--Playfair);
  color: var(--primary-color);
}

p {
  color: rgba(39, 33, 66, 0.7);

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.homepage {
  background-color: #efefef;
  text-align: center;
  padding: 160px 20px;
}

.homepage p {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  color: rgb(44, 43, 43);
}

.homepage h1 {
  font-family: var(--Playfair);
  font-weight: 700;
  font-size: 96px;
}

.homepage h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: var(--secondary-color);
}

.about-section h1 {
  font-family: var(--Playfair);
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}
.about-section h2 {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.btn-branding {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;

  transition: all 500ms ease-in-out;
}

.btn-branding:hover {
  background-color: #efefef;
  border: 1px solid black;
  color: black;
}

#header {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 100px 0;
}

.btn-branding-outline {
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  transition: all 500ms ease-in-out;
  line-height: 7;
}
.btn-branding-outline:hover {
  background-color: black;
  color: var(--primary-bg-color);
}
.project-description {
  padding: 90px 50px;
}

@media (max-width: 992px) {
  .homepage h1 {
    font-size: 58px;
  }

  .homepage h2 {
    font-size: 20px;
  }
  #header {
    font-size: 24px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .homepage {
    padding: 80px 20px;
  }
}
